#title{
  background-color: #fffcc1;
}
.body-font{
  font-family: 'Montserrat', sans-serif
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-weight: bold;
  color: white;
}
.big-heading{
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
  color: black;
  font-family: 'Allura', cursive;
}
.container-fluid{
  padding: 3% 15% 7%;
}


/* navigation bar */
.navbar{
padding: 0 0 3rem;

}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight:normal;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/* download buttons */

/* title image */
.phone{
  height: 250px;
  width:250px;
}

/* features section */

#features{
  padding: 7% 15%;
  background-image: linear-gradient(#ab72c0,#482859);


}
.feature-box{
  text-align: center;
  padding: 5%;
}

p{
  color:white;
  font-family: 'Comfortaa', cursive;
  padding-top: 30px;
  font-size: 1.5rem;
}
.icon{
  color:#ef8172;
  margin: 1rem;
}
.icon:hover{
  color:#ff4c68
}

/* testimonial section */

#testimonials {
text-align: center;
background-image:linear-gradient(#fffcc1,  #ab72c0);
padding: 30px;
}
.testimonial-text {
  font-size:2rem;
  line-height: 1.5;
  font-weight: bold;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



/* pricing section */

@media (max-width:1025px) {
  #title{
    text-align: center;
 }
}
